* {
padding:0;
margin:0;
}

.card{
    width:400px;
    height: 500px;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
}
.email-login{
    margin: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.email-login p{
    font-size: 1em;
    margin: 4px;
}
.email-login input{
    width: 250px;
    background: transparent;
    padding: 8px;
    margin: 3px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid ;
    gap: 23px;

}
.email-login button{
    padding: 8px ;
    border-radius: 12px;
    outline: 0;
    color: #fff;
    border: 0;
    margin: 12px;
    background-color: rgb(30, 78, 252);

}
.forgot-pwd{
    font-size: 12px;
    margin: 12px;
    color: rgb(120, 34, 224);
    font-weight: 600;
}
.google-btn{
    width: 20px;
}
